body{
	width: 500px;
	margin: auto;
	text-align: center;
}
dl{

}
dt{
  cursor: pointer;
  font-weight: bold;	
  font-size: 1.5em;
  font-family: "Candara", monospace;
  line-height: 2em;
  background: #E3E3E3;
  border-bottom: 2px solid #c5c5c5;
  border-top: 2px solid white;
}
dd{
	cursor: pointer;
	font-weight: bolder;
	font-size: 1.0em;
	font-family: "Verdana", monospace;
	line-height: 2em;
	background: #00B0F9;		
	margin:0;
	padding: len 0;
}
dt:first-child {
	border-top: :none;
}
dt:nth-last-child(2){
	border-bottom: none;
}	
.hide {
	display: none;
}